.cc{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "box4"
        "box1"
        "box2 "
        "box3 "
        "box5 "
;

}
.bottom {
    display: flex;
    justify-content: left;
    position: fixed;
    right: 50px;
    top: 50px;
    margin: auto;
    grid-area: box4;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box5{
    grid-area: box5;
}
